In [3]:
import pandas as pd

data = pd.read_csv('/content/Iris.csv')

In [4]:
data.shape

(150, 6)

In [5]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
data.drop(['Id'], axis=1)
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
data['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [10]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [11]:
data = pd.DataFrame()
data['age'] = [12,17,12,17]
data['Name'] = ['sneha','raj','sneha','mayank']
data

   age    Name
0   12   sneha
1   17     raj
2   12   sneha
3   17  mayank

In [12]:
data = data.drop_duplicates()
data

   age    Name
0   12   sneha
1   17     raj
3   17  mayank

In [13]:
data = data.reset_index()
data

   index  age    Name
0      0   12   sneha
1      1   17     raj
2      3   17  mayank

In [14]:
#data = data.drop(['index'], axis =1)
data

   index  age    Name
0      0   12   sneha
1      1   17     raj
2      3   17  mayank

In [15]:
#data = data.drop(['level_0'], axis =1)
data

   index  age    Name
0      0   12   sneha
1      1   17     raj
2      3   17  mayank

In [16]:
data = data.drop([1], axis=0)

In [17]:
data

   index  age    Name
0      0   12   sneha
2      3   17  mayank

In [18]:
data = data.reset_index()
data = data.drop(['index'], axis =1)

In [19]:
#data = data.drop(['level_0'], axis =1)

In [20]:
data

   level_0  age    Name
0        0   12   sneha
1        2   17  mayank

In [21]:
#location 
# row where the name is 1
data.loc[1]

level_0         2
age            17
Name       mayank
Name: 1, dtype: object

In [22]:
# index location 
# 3rd index row 1st index colum
data.iloc[0,[0,1]]

level_0     0
age        12
Name: 0, dtype: object

In [23]:
data1 = pd.DataFrame()
data1['age']=[12,13,12,17]
data1['name']=['sneha','raj','sneha','mayank']
data1

   age    name
0   12   sneha
1   13     raj
2   12   sneha
3   17  mayank

In [24]:
data2 = pd.DataFrame()
data2['age']=[12,13,12,17]
data2['weight']=[55,78,65,85]
data2

   age  weight
0   12      55
1   13      78
2   12      65
3   17      85

In [25]:
data1.append(data2)

   age    name  weight
0   12   sneha     NaN
1   13     raj     NaN
2   12   sneha     NaN
3   17  mayank     NaN
0   12     NaN    55.0
1   13     NaN    78.0
2   12     NaN    65.0
3   17     NaN    85.0

In [26]:
pd.concat([data1,data2],axis=0)

   age    name  weight
0   12   sneha     NaN
1   13     raj     NaN
2   12   sneha     NaN
3   17  mayank     NaN
0   12     NaN    55.0
1   13     NaN    78.0
2   12     NaN    65.0
3   17     NaN    85.0

In [27]:
left = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)


right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)


result = pd.merge(left, right, on=["key1", "key2"])
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [28]:
result = pd.merge(left, right, on=["key1", "key2"], how="left",)
result

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

In [29]:
result = pd.merge(left, right, on=["key1", "key2"], how="right",)
result

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [30]:
result = pd.merge(left, right, on=["key1", "key2"], how="inner",)
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [31]:
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [32]:
right

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [33]:
result = pd.merge(left, right, on=["key1", "key2"], how="outer")
result

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [34]:
left.merge(right, on=['key1','key2'], how='outer')

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3